.mainpage {
  width: 100%;

  &__rent {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__rent-photo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  &__rent-photo-item {
    position: relative;
    list-style: none;
    height: 270px;
    flex-basis: 54%;
    margin-right: 30px;
    margin-bottom: 28px;
    border-radius: 10px;

    &:nth-child(1) {
      background: url('../../img/icons/mainpage/rentflat.svg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(2) {
      flex-basis: 42%;
      background: url('../../img/icons/mainpage/rentcott.svg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3) {
      flex-basis: 42%;
      background: url('../../img/icons/mainpage/rentsauna.svg') no-repeat center;
      background-size: cover;
    }

    &:nth-child(4) {
      background: url('../../img/icons/mainpage/rentauto.svg') no-repeat center;
      background-size: cover;
    }
  }

  &__rent-text {
    width: 100%;
    max-width: 297px;
    margin-left: 30px;
  }

  &__photo-title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 38px 0 16px 38px;
    margin: 0;
  }

  &__photo-desc {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 38px;
  }

  &__photo-button {
    position: absolute;
    bottom: 19px;
    right: 19px;
    width: 40px;
    height: 40px;
    background: url('../../img/icons/mainpage/rentbutton.svg') no-repeat center;
    background-size: cover;
    border: none;

    &:hover {
      opacity: .8;
    }

  }

  &__text-list {
    padding: 0;
  }

  &__text-item {
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 40px;
  }

  &__category-list {
    padding: 0;
  }

  &__list-item {
    list-style: none;
    margin-top: 10px;

    &:first-of-type {
      margin-top: 15px;
    }
  }

  &__list-block-geo {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    color: #FEB700;

    &:hover {
      margin-left: 10px;
    }
  }

  &__list-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }

  &__list-block-count {
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
  }

  &__list-button {
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #F5BC03;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FEB700;
    background-color: #FFFFFF;

    &:hover {
      opacity: .8;
    }

    &:after {
      width: 10px;
      height: 10px;
      content: url('../../img/icons/mainpage/down.svg');
      margin-left: 3px;
    }
  }

  &__about {
    width: 100%;
    max-width: 1280px;
    display: flex;
    margin: 0 auto 100px;
  }

  &__about-rent {
    width: 100%;
    max-width: 843px;
  }

  &__about-rent-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 15px;
  }

  &__about-rent-subtitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #1E2123;
    margin-bottom: 33px;
  }

  &__about-flat {
    display: flex;
    margin-bottom: 30px;
  }

  &__about-flat-image {
    position: relative;
    height: 230px;
    filter: drop-shadow(0px 15px 30px rgba(39, 95, 158, 0.1));
    border-radius: 20px;
    margin-right: 24px;

    &:after {
      width: 61px;
      height: 61px;
      // position: absolute;
      // z-index: 99;
      // right: 10px;
      // bottom: 10px;
      content: url('../../img/icons/mainpage/ell_about.svg');

    }
  }

  &__about-flat-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
    color: #1E2123;
  }

  &__about-flat-par {
    font-size: 14px;
    line-height: 21px;
    color: #1E2123;
    letter-spacing: 0.05em;
    margin-bottom: 0;

    &_mb {
      margin-bottom: 20px;
    }

    &_fw {
      font-weight: 600;
    }
  }

  &__news {
    width: 100%;
    max-width: 407px;
    margin-left: 30px;
    margin-top: 14px;
    background: #FFFEFE;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
    border-radius: 10px;
  }

  &__news-list {
    padding: 0;
    padding-left: 23px;
  }

  &__news-list-caption {
    margin-top: 33px;
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #1E2123;
    list-style: none;
  }

  &__news-item {
    list-style: none;
    margin-top: 10px;
    border-bottom: 1px solid rgba(102, 78, 249, .1);

    &:last-of-type,
    &:first-of-type {
      border-bottom: none;
    }
  }

  &__news-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #1E2123;
    text-decoration: none;

    &:hover {
      opacity: .8;
      cursor: pointer;
      color: #664EF9;
    }
  }

  &__news-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8291A3;
    margin: 0;
    margin-top: 6px;
    padding-bottom: 10px;
  }

  &__news-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #664EF9;
    margin: 22px 0 31px 24px;

    &:after {
      width: 20px;
      height: 20px;
      content: url('../../img/icons/mainpage/str3.svg');
      margin-left: 5px;
    }

    &:hover {
      opacity: .8;
      cursor: pointer;
    }

  }
}
