@import url('./styles/vendor/normalize.less');
@import 'bootstrap/dist/css/bootstrap.css';
@import url('./styles/page/page.less');
@import url('./styles/mixins.less');

*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('./styles/mainpage/mainpage.less');
@import url('./styles/notfound/notfound.less');
@import url('./styles/header/header.less');
@import url('./styles/subheader/subheader.less');
@import url('./styles/news/news.less');
@import url('./styles/news-details/news-details.less');
@import url('./styles/apartments/apartments.less');
@import url('./styles/contacts/contacts.less');
@import url('./styles/pagination/pagination.less');
@import url('./styles/footer/footer.less');
